<html>
<head>
<title>Have fun with Cod</title>
<style>
a{
    display: block;
}
.result-container{
    height: 300px;
    width: 600px;
    border: 1px solid #ddd;
    overflow-x: hidden;
    overflow-y: auto;
}
</style>
</head>
<body>

<pre>
用法:
把網站的URL和對應網頁區域的xpath發給Cod server, 返回結果中的result就是對應網頁區域的html

$(function(){
    $.ajax({
        url: 'http://127.0.0.1:5000/', 
        type: 'POST',
        dataType: 'json', 
        data: {
            'url': 'https://news.ycombinator.com/', 
            'xpath': '//*[@class="storylink"]'
        },
        success: function(data){
            $('#result').html(data['result']);
        }
        });
});
</pre>

<h2>Example 1: Hacker news feed</h2>
<pre>
URL: https://news.ycombinator.com/
XPATH: //*[@class="storylink"]
</pre>
<div id='result' class='result-container'>Loading...</div>


<hr>
<h2>Example 2: douban.com 新書速递 Feed</h2>
<pre>
URL: https://book.douban.com/
XPATH: //*[contains(@class, "list-col")]/li
</pre>
<div id='github' class='result-container'>Loading...</div>

<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<script>
function fetch(dict, outDiv){
    $.ajax({
        url: 'http://127.0.0.1:8888/', 
        type: 'POST',
        dataType: 'json', 
        data: dict,
        success: function(data){
            outDiv.html(data['result']);
        }
        });
}

$(function(){

fetch({'url': 'https://news.ycombinator.com/', 
       'xpath': '//*[@class="storylink"]'}, 
       $('#result'))

fetch({'url': 'https://book.douban.com/', 
       'xpath': '//*[contains(@class, "list-col")]/li'}, 
        $('#github'))

});

</script>
</body>
</html>